[Unit]
Description=Niltalk service.
After=default.target

[Service]
Type=simple
Restart=always
RestartSec=3
StartLimitInterval=360
ExecStart=/path/to/niltalk
WorkingDirectory=/path/to/niltalk/wordkingdir

[Install]
WantedBy=default.target
