{{ define "room" }}
{{ template "header" . }}

<!-- Login form. -->
<form v-if="!chatOn && !disposed" v-on:submit.prevent="handleLogin" method="post" autocomplete="off" class="form-login">
	<fieldset>
		<h1>
			{{ if .Data.Room.Name }}
			{{ .Data.Room.Name }} (#{{ .Data.Room.ID }})
			{{ else }}
			#{{ .Data.Room.ID }}
			{{ end }}
		</h1>
		<h3>Join room</h3>
		<p>
			<input :autofocus="'autofocus'" v-model="password" ref="form-password"
				type="password" name="password" placeholder="Room Password"
				{{ if not .Data.Room.Predefined }}required minlength="6" maxlength="100"{{ end }}
				 maxlength="100" autocomplete="off" />
		</p>
		<p>
			<input v-model="handle" type="text" name="handle"
				placeholder="Nick name (optional)" pattern=".{3,30}"
				maxlength="30" autocomplete="off" />
			<span class="help">3 to 30 characters</span>
		</p>
		{{ if .Data.Room.Predefined }}
		<p>
			<input v-model="userpwd" type="password" name="userpwd"
				placeholder="Nick name password"
				maxlength="100" autocomplete="off" />
		</p>
		{{ end }}
		<p>
			<input type="submit" class="button" value="Login" />
		</p>
	</fieldset>
	<expand-link link="/r/{{ .Data.Room.ID }}"></expand-link>
</form>

<!-- Chat area. -->
<section v-if="chatOn">
	<section class="chat">
		<span class="sidebar-handle" v-on:click.prevent="toggleSidebar">
			{( sidebarOn ? "&rarr;" : "&larr;" )}
			<span class="icon">👥<sup>{( validPeers().length )}</sup></span>
		</span>
		<div class="messages" ref="messages"
				@drop.prevent="addFile" @dragover.prevent
				@dragenter.prevent.capture="dragEnter"
				@dragleave.prevent.self="dragLeave"
				v-bind:class="{ dragover: isDraggingOver }">
			<ul class="no">
				<li v-for="m in messages" class="message">
					<div class="wrap" v-if="m.type === Client.MsgType['message']">
						<div class="meta">
							<span class="peer">
								<span class="avatar" :style="{'background-color': m.peer.avatar}"></span>
								<span class="handle">{( m.peer.handle )}</span>
							</span>
							<span class="timestamp" :title="m.timestamp">{( formatDate(m.timestamp) )}</span>
						</div>
						<div class="content" v-html="formatMessage(m.message)"></div>
					</div>
					<div class="wrap error" v-else-if="m.type === 'error'">
						<p v-html="m.message"></p>
					</div>
					<div class="wrap help" v-else-if="m.type === Client.MsgType['help']">
						<p v-html="m.message"></p>
					</div>
					<div class="wrap ping" v-else-if="m.type === Client.MsgType['ping']">
						<div class="meta">
							<span class="peer">
								<span class="avatar" :style="{'background-color': m.peer.avatar}"></span>
								<span class="handle">{( m.peer.handle )} is pinging you</span>
							</span>
							<span class="timestamp" :title="m.timestamp">{( formatDate(m.timestamp) )}</span>
						</div>
						<div class="content" v-html="formatMessage(m.message)"></div>
					</div>
					<div class="wrap whisper" v-else-if="m.type === Client.MsgType['whisper']">
						<div class="meta">
							<span class="peer">
								<span class="avatar" :style="{'background-color': m.peer.avatar}"></span>
								<span class="handle">{( m.peer.handle )} whispers</span>
							</span>
							<span class="timestamp" :title="m.timestamp">{( formatDate(m.timestamp) )}</span>
						</div>
						<div class="content" v-html="formatMessage(m.message)"></div>
					</div>
					<div class="wrap motd" v-else-if="m.type === Client.MsgType['motd']">
						{( m.message )}
					</div>
					<div class="wrap uploading" v-else-if="m.type === Client.MsgType['uploading']">
						<div class="meta">
							<span class="peer">
								<span class="avatar" :style="{'background-color': m.peer.avatar}"></span>
								<span class="handle">{( m.peer.handle )}</span>
							</span>
							<span class="timestamp" :title="m.timestamp">{( formatDate(m.timestamp) )}</span>
						</div>
						<div class="content">
							<img src="/static/knadh/static/images/spinner.gif" class="spinner" />
							<br/>
							{( m.files.join(",") )}
							- <b>{(m.percent)} %</b>
						</div>
					</div>
					<div class="wrap upload" v-else-if="m.type === Client.MsgType['upload']">
						<div class="meta">
							<span class="peer">
								<span class="avatar" :style="{'background-color': m.peer.avatar}"></span>
								<span class="handle">{( m.peer.handle )}</span>
							</span>
							<span class="timestamp" :title="m.timestamp">{( formatDate(m.timestamp) )}</span>
						</div>
						<div class="content">
							<div v-if="m.err">
								<img src="/static/knadh/static/images/red-err.webp" class="red-err" />
								<br/>
								Failed to upload {(m.files.join(','))}: {(m.err)}
							</div>
							<div v-else>
								<div v-for="(k, name) in m.res">
									<a v-if="k && !k.err" v-bind:href="'/r/' + _room.id  + '/uploaded/' + k.id" target="_blank" v-bind:title="k.name">
										<img v-if="k.mimetype.startsWith('image/png')"
											@load="scrollToNewester"
											v-bind:src="'/r/' + _room.id  + '/uploaded/' + k.id" class="upload" />
										<img v-else-if="k.mimetype.startsWith('image/jpeg')"
											@load="scrollToNewester"
											v-bind:src="'/r/' + _room.id  + '/uploaded/' + k.id" class="upload" />
										<img v-else-if="k.mimetype.startsWith('image/gif')"
											@load="scrollToNewester"
											v-bind:src="'/r/' + _room.id  + '/uploaded/' + k.id" class="upload" />
										<img v-else-if="k.mimetype.startsWith('application/vnd.ms-excel')"
											@load="scrollToNewester"
											src="/static/knadh/static/icons/xls.jpg" class="upload icon" />
										<img v-else-if="k.mimetype.startsWith('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')"
											@load="scrollToNewester"
											src="/static/knadh/static/icons/xls.jpg" class="upload icon" />
										<img v-else-if="k.mimetype.startsWith('application/pdf')"
											@load="scrollToNewester"
											src="/static/knadh/static/icons/pdf.jpg" class="upload icon" />
										<img v-else-if="k.mimetype.startsWith('text/plain')"
											@load="scrollToNewester"
											src="/static/knadh/static/icons/txt.png" class="upload icon" />
										<span v-else>{( k.name )}</span>
									</a>
									<span v-if="k && k.err">
										Failed to upload {( k.name )}: {(k.err)}
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="wrap notice" v-else-if="m.type === Client.MsgType['peer.renewhandle']">
						<span class="timestamp" :title="m.timestamp">{( formatDate(m.timestamp) )}</span>
						&mdash;
						<span class="peer">
							<span class="avatar" :style="{'background-color': m.peer.avatar}"></span>
							<span class="handle">{( m.oldHandle )}</span>
								changed handle to
							<span class="handle">{( m.peer.handle )}</span>
						</span>
					</div>
					<div class="wrap notice" v-else>
						<span class="timestamp" :title="m.timestamp">{( formatDate(m.timestamp) )}</span>
						&mdash;
						<span class="peer">
							<span class="avatar" :style="{'background-color': m.peer.avatar}"></span>
							<span class="handle">{( m.peer.handle )}</span>
								{(m.type === Client.MsgType['peer.join'] ? "joined" : "left")}
						</span>
					</div>
				</li>
			</ul>
		</div>
		<div v-if="sidebarOn" class="sidebar">
			<h2 class="title">
				<span v-if="validPeers().length > 1">{( validPeers().length )} peers</span>
				<span v-else>Just you</span>
			</h2>
			<ul class="no peers">
				<li v-for="p in validPeers()">
					<span class="peer">
						<span class="avatar" :style="{'background-color': p.avatar}"></span>
						<span class="handle">{( p.handle )}
							{( p.publicKey === mycrypto.publicKey() ? "*" : "" )}</span>
					</span>
				</li>
			</ul>
		</div>
	</section>
	<form v-on:submit.prevent="handleSendMessage" method="post" class="form-chat">
		<div class="container">
			<fieldset>
				<div v-if="typingPeers.size > 0" class="typing">
					<span class="dot-spinner"><i></i><i></i><i></i><i></i></span>
					<span class="handle" v-for="p in Array.from(typingPeers)">{( p[1].handle )}</span>
				</div>
				<div v-if="negotiating > 0" class="typing">
					<span class="dot-spinner"><i></i><i></i><i></i><i></i></span>
					<span class="handle">negotiating with {( negotiating )} peers</span>
				</div>
				<textarea ref="form-message" v-on:keydown="handleChatKeyPress" v-model="message" :autofocus="'autofocus'"
					placeholder="Message" class="charlimited" maxlength="{{ .Config.MaxMessageLen }}"></textarea>
				<div class="controls">
					<button type="submit" class="button">Send</button>

					<div class="right">
						<a href="" v-on:click.prevent="handleLogout" class="btn-dispose">Logout</a>
						{{if not .Data.Room.Predefined}}
						<a href="" v-on:click.prevent="handleDisposeRoom" class="btn-dispose">Dispose &times;</a>
						{{end}}
					</div>
					<!-- <div class="sounds">
							<input v-model="hasSound" type="checkbox" checked="true" id="chk-sounds" />
							<label for="chk-sounds"></label>
						</div> -->
				</div>
			</fieldset>
		</div>
		<!-- <div class="row">
				<div class="room-url">
					<a href="#" data-value="/r/{{ .Data.Room.ID }}">&#9741;</a>
				</div>
			</div> -->
	</form>
</section>

<div v-if="disposed">
	<h1>Room disposed</h1>
	<p>
		The room was disposed of and is now unavailable. <a href="/">Create a new room</a>.
	</p>
</div>

<audio id="beep">
	<source src="/static/knadh/static/beep.ogg" type="audio/ogg">
	<source src="/static/knadh/static/beep.mp3" type="audio/mpeg">
</audio>

<!-- <div class="reconnect">
		<h1>Disconnected.</h1>
	</div> -->

{{ template "footer" . }}
{{end}}
